<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TicketsShop</title>
    <link rel="stylesheet" href="~/Styles/footer.css" />
</head>
<body style="margin: 0">
<div class="navbar">
    <a asp-controller="Home" asp-action="Index">Home</a>
    <div class="dropdown">
        <button class="dropbtn">Wszystkie wydarzenia ▼</button>
        <div class="dropdown-content">
            <a asp-controller="Search" asp-action="ByType" asp-route-type="Koncert">Koncert</a>
            <a asp-controller="Search" asp-action="ByType" asp-route-type="Teatr">Teatr</a>
        </div>
    </div> 
  
    <div class="dropdown">
        <button class="dropbtn">Wszystkie miasta ▼</button>
        <div class="dropdown-content">
            <a asp-controller="Search" asp-action="ByCity" asp-route-name="Warszawa">Warszawa</a>
            <a asp-controller="Search" asp-action="ByCity" asp-route-name="Lublin">Lublin</a>
            <a asp-controller="Search" asp-action="ByCity" asp-route-name="Poznan">Poznan</a>
        </div>
    </div> 
</div>
<div style="padding-left: 300px; padding-right: 300px; padding-top: 40px">
	@RenderBody()
</div>
<div class="footer"><h5 style="text-align: center">Eventim</h5></div>
</body>
</html>
