
@{
    <div style="text-align: center"><h1>Blik</h1>
    <p>Wprowadż kod blik<br>
        <input type="text" placeholder="0000-0000" name="kod" required maxlength="8">
        <br></p>
        <button>Ok</button></div>
}
