@model Event
@{
    <ul>
        <li class="line" style="vertical-align: top">
            <img alt="image" src=@Model.ImagePath height="200" width="200"/>
        </li>
        <li class="line" style="width: 70%">
            <div>
                <div>
                    <p>@Model.Name</p>
                </div>
                <div>
                    <ul>
                        <li class="line">
                            <p style="text-align: left">@Model.EventTime.ToString("MM.dd.yyyy")</p>
                        </li>
                        <li class="line">
                            <p style="text-align: center">|</p>
                        </li>
                        <li class="line">
                            <p>@Model.City.Name</p>
                        </li>
                    </ul>
                </div>
                <div><p>Miejsce: </p></div>
            </div>
        </li>
        <li class="line" style="vertical-align: bottom">
            <ul>
                <li>
                    <p>@Model.Price</p>
                </li>
            </ul>
        </li>
    </ul>
    <hr/>
	<div style="text-align: center">

		<li class="line">
			<a asp-controller="BuyPage" asp-action="Blik" asp-route-id=@Model.Id><button>Blik</button></a>
			<a asp-controller="BuyPage" asp-action="Mastercard" asp-route-id=@Model.Id><button>Visa lub Mastercard</button></a>
		</li>
	</div>

}
