@model Event
@{    
	<div>
		<h1>Mastercard lub Visa</h1>
		<p>Platność dla Eventim<br>
			Kwota @Model.Price zł <br>
			Wprowadż numer karty
			<input type="text" placeholder="0000-0000-0000-0000" name="numer" required maxlength="16">
			<br>
			Data ważności <input type="month" placeholder="MM/YY" name="numer">
			<br/> CVV2/CVC2: <input type="text" placeholder="0000" name="numer" required maxlength="4">
		</p>
		<a asp-controller="BuyPage" asp-action="Status" asp-route-id=@Model.Id><button>Ok</button></a>
	</div>
}
