<style>
	.img-with-text {
		text-align: justify;
		width: 200px;
	}

	.img-with-text img {
		display: block;
		margin: 0 auto;
	}
</style>

@{
	for (int i = 0; i < 5; i++)
	{
		<H1>Razdel @i</H1>
		<ul style="list-style-type: none; text-align: center">
			@{
				for (int j = 0; j < 5; j++)
				{
					<li style="display: inline-block">
						<div class="img-with-text">
							<img alt="image" src="~/Images/1.jpg" height="200" width="200"/>
							<p>Text</p>
						</div>
					</li>
				}
			}
		</ul>
	}
}