@model Event
<p>Liczba biletów: @Model.TicketsNumber</p>
<p>Miejsce:</p>
@{
	for (int row = 0; row < Model.TicketsNumber/5; row++)
	{
	    <ul>
		    @{
                for (int i = 0; i < 5; i++)
                {
                    <li style="display: inline"><button class="button">@(i+row*5) </button></li>
                }
            }
        </ul>

	}
    <div style="text-align: right;">
            <a asp-controller="BuyPage" asp-action="Index" asp-route-id=@Model.Id><button>Kup bilet @Model.Price $</button></a>
    </div>
}