
@model Event
<p>Liczba biletów: @Model.TicketsNumber</p>
<p>Miejsce:</p>
	    <ul>
@{
	for (int row = 0; row < Model.TicketsNumber; row++)
	{
	    <li style="display: inline"><button>@(row+1) </button></li>

	}
}
        </ul>
    <div style="text-align: right;">
            <a asp-controller="BuyPage" asp-action="Index" asp-route-id=@Model.Id><button>Kup bilet @Model.Price PLN</button></a>
    </div>