<img src="Images/1.jpg" height="100" width="100"/>
<h2>Biografia</h2>
<p>Lorem impum</p>

<h3>3 Wydarzenia</h3>

@{
	for (int i = 0; i < 3; i++)
	{
		<p>DATE, TIME</p>
		<p>City</p>
		<p>Artist</p>
		<p>Place</p>
		<p>Price</p>
		<p>BUY BUTTON</p>
	}
}